/* Basic Built in stuff format*/
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

header {
	background-color: #333;
	color: #fff;
	padding: 10px 0;
}

body {
	font-family: Arial, sans-serif;
	line-height: 1.6;
	background-color: #f4f4f4;
	color: #333;
	margin: 0;
	padding: 0;
}

section {
  	padding: 20px;
  	margin: 20px 0;
  	background-color: #fff;
  	border-radius: 5px;
}

h1 {
	font-size: 2em;
  	margin-bottom: 15px;
}

h3 {
  	font-size: 1.5em;
  	margin-bottom: 10px;
}

ul {
	list-style: none;
}

ul li {
  margin-top: 10px;
  margin-bottom: 10px;
}

.container {
  	max-width: 950px;
  	margin: 0 auto;
  	padding: 0 20px;
}

/* Navigation Bar list format*/
nav ul {
	list-style: none;
	display: flex;
  	justify-content: center;
}

nav ul li {
  	margin: 0 15px;
}

nav ul li a {
  	text-decoration: none;
  	color: #fff;
}


/* Footer section*/
footer {
	background-color: #333;
  	color: #fff;
  	text-align: center;
  	padding: 10px 0;
}

footer a {
	color: #fff;
	text-decoration: none;
}
  
footer a:hover {
	text-decoration: underline;
}


/* about section lists format*/
.about_columns {
  	display: flex;
}

.about_col_1,
.about_col_2 {
  	flex: 1;
}

.about_columns ul {
  	margin: 0;
 	padding: 0;
}


/* Project / experience lists format*/
.projects_cols{
	display: flex;
}

.projects_col_1,
.projects_col_2{
	flex: 1;
}

.projects_cols ul{
	margin: 0;
	padding: 0;
	list-style-type: circle;
	margin-left: 20px;
}


/* Website Page only stuff*/
.website_learned_cols{
	display: flex;
}

.website_learned_col_1,
.website_learned_col_2 {
	flex: 1;
}

.website_learned_cols ul{
	margin: 0;
	padding: 0;
	list-style-type: circle;
	margin-left: 20px;
}